body {

    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a;
}


.navbar-brand {

    font-family: 'Roboto', sans-serif;
    font-size: 2rem; /* Adjust as needed */
    font-weight: 700;  /* Optional: Adjust font weight */
}
