body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #fff;

}

.container {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.challenge-detail {
    background-color: #2c2c2c;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.challenge-image {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #e63946;
}

.short-description {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #b5b5b5;
}

.details {
    text-align: left;
    margin-top: 20px;
    font-size: 1rem;
    line-height: 1.6;
    color: #ddd;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e63946;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #d62828;
}
