{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'challenge.css' %}">

<body3>
    <h1>Challenges</h1>
    <p>At this part, you can easily access all of our challenges. Take a look at them and choose whichever you want.</p>



     <div class="row">
        {% for challenge in challenge %}
        <div class="challenge-card">
            {% if challenge.image %}
                <img src="{{ challenge.image.url }}" class="card-img-top" alt="{{ challenge.title }}" style="width: 100%; height: 200px; object-fit: cover;">
                {% else %}
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="No Image Available" style="width: 100%; height: 200px; object-fit: cover;">
                {% endif %}
            <h3>{{ challenge.title }}</h3>
            <p>{{ challenge.description }}</p>
            <a href="{% url 'challenge_detail' challenge.c_id %}" class="btn" >Learn More</a>
        </div>

        {% endfor %}
    </div>


<div class="card-footer p-3 pt-4 border-top-0 bg-transparent">
    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'create_challenge'%}">Add New Challenge</a></div>
</div>
</body3>


{% endblock %}