{% extends 'base.html' %}
{% block content %}
{% load static %}
   <link rel="stylesheet" href="{%static 'styles.css'%}">
 <!-- Hero Section -->
    <section class="hero bg-dark text-white py-5">
        <div class="container d-lg-flex align-items-center justify-content-between">
            <div class="hero-text">
                <h2 class="display-4">Achieve Your <span class="text-danger">Fitness Goals</span> With Fitness Studio</h2>
                <p class="lead">Join The Fitness Studio Community And Transform Your Fitness Journey...</p>
                <div class="mt-4">
                    <a href="#" class="btn btn-danger btn-lg me-3">Start Your Journey</a>
                    <a href="#" class="btn btn-outline-light btn-lg">Explore Programs</a>
                </div>
            </div>

            <div class="hero-image mt-5 mt-lg-0">
                <img src="media/bodybuilder.png" alt="Fitness Coach" class="img-fluid rounded">
            </div>
        </div>
    </section>

    <!-- Highlights Section -->
    <section class="highlights py-5 bg-secondary text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3" >
                    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                          <h4 class="card-title" style="color: red;">96%</h4>
                          <p class="card-text">Client Satisfaction</p>
                        </div>
                      </div>
            </div>
                <div class="col-md-3">
                    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                          <h4 class="card-title" style="color: red;">5+</h4>
                          <p class="card-text">Years of Experience</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                          <h4 class="card-title" style="color: red;">400+</h4>
                          <p class="card-text">Active Members</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                          <h4 class="card-title" style="color: red;">24/7</h4>
                          <p class="card-text">Support Available</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}