{% extends 'base.html' %}
{% load static %}
{% block content %}
    {{product.name}}
    {{product.price}}
    {{ product.description }}
    {{product.rating}}


    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
             <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'update_product' product.p_id %}">Update Product</a></div>
    </div>

    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'delete_product' product.p_id %}">Delete</a></div>
    </div>
{% endblock %}